body {
    padding: 20px 40px;
    background-color: gainsboro;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

footer {
    font-style: italic;
    text-align: center;
}

form input[type=text] {
    padding: 5px;
    width: 40%;
}
form input[type=submit] {
    text-align: right;
   /*como colocar alinhado com o quadrado? obs.: dei um 
   br e coloquei embaixo*/
}

.modal {
    display: none;
    position:fixed;
    color: rgb(196, 0, 0);
    font-size:small;
    font-style: italic;
    background-color: rgba(139, 192, 180, 0.918);
    top:70%;
    border: 2px solid;
    border-color: black;
    margin-top: -100px;
    left: 50%;
    margin-left: -100px;
    padding: 10px;
}

.modal a {
    float: right;
}