body {
    color: #f0f8ff; 
    background-color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;
    padding: 16px;
}

a {
    color:aliceblue;
    text-decoration: none ;
}

header img {
    width: 110px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid aliceblue;
    text-align: end;
}

main {
    text-align: justify;
}

.center {
    text-align:center; 
}

h1 {
    color: aliceblue;
}

h2{
    color: aliceblue;
}

footer {
    display: flex;
    justify-content: center;
}

footer img {
    width: 30px;
    height: 30px;
    border-radius: 22%;
}

footer a {
    margin: 20px;
    text-align: center
}

footer p {
    margin-top: center
}

.container {
    padding: 0px 50px;
}

nav a:hover { 
    color:aquamarine;
}